# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
power_analysis.html
output/SSP1-1.9/beta100/10000_mature_abundance.Rda
output/SSP1-1.9/beta100/10000_abundance.Rda
output/SSP1-1.9/beta100/10000_N.Rda
output/SSP1-1.9/beta60/10000_mature_abundance.Rda
output/SSP1-1.9/beta60/10000_abundance.Rda
output/SSP1-1.9/beta60/10000_N.Rda
output/SSP1-1.9/beta50/10000_mature_abundance.Rda
output/SSP1-1.9/beta50/10000_abundance.Rda
output/SSP1-1.9/beta50/10000_N.Rda
output/SSP1-1.9/beta40/10000_mature_abundance.Rda
output/SSP1-1.9/beta40/10000_abundance.Rda
output/SSP1-1.9/beta40/10000_N.Rda
output/SSP1-1.9/beta30/10000_mature_abundance.Rda
output/SSP1-1.9/beta30/10000_abundance.Rda
output/SSP1-1.9/beta30/10000_N.Rda
output/SSP1-1.9/beta20/10000_mature_abundance.Rda
output/SSP1-1.9/beta20/10000_abundance.Rda
output/SSP1-1.9/beta20/10000_N.Rda
output/SSP1-1.9/beta4/10000_mature_abundance.Rda
output/SSP1-1.9/beta4/10000_abundance.Rda
output/SSP1-1.9/beta4/10000_N.Rda
output/SSP1-2.6/beta100/10000_mature_abundance.Rda
output/SSP1-2.6/beta100/10000_abundance.Rda
output/SSP1-2.6/beta100/10000_N.Rda
output/SSP1-2.6/beta60/10000_mature_abundance.Rda
output/SSP1-2.6/beta60/10000_abundance.Rda
output/SSP1-2.6/beta60/10000_N.Rda
output/SSP1-2.6/beta50/10000_mature_abundance.Rda
output/SSP1-2.6/beta50/10000_abundance.Rda
output/SSP1-2.6/beta50/10000_N.Rda
output/SSP1-2.6/beta40/10000_mature_abundance.Rda
output/SSP1-2.6/beta40/10000_abundance.Rda
output/SSP1-2.6/beta40/10000_N.Rda
output/SSP1-2.6/beta30/10000_mature_abundance.Rda
output/SSP1-2.6/beta30/10000_abundance.Rda
output/SSP1-2.6/beta30/10000_N.Rda
output/SSP1-2.6/beta20/10000_mature_abundance.Rda
output/SSP1-2.6/beta20/10000_abundance.Rda
output/SSP1-2.6/beta20/10000_N.Rda
output/SSP1-2.6/beta4/10000_mature_abundance.Rda
output/SSP1-2.6/beta4/10000_abundance.Rda
output/SSP1-2.6/beta4/10000_N.Rda
output/SSP2-4.5/beta100/10000_mature_abundance.Rda
output/SSP2-4.5/beta100/10000_abundance.Rda
output/SSP2-4.5/beta100/10000_N.Rda
output/SSP2-4.5/beta60/10000_mature_abundance.Rda
output/SSP2-4.5/beta60/10000_abundance.Rda
output/SSP2-4.5/beta60/10000_N.Rda
output/SSP2-4.5/beta50/10000_mature_abundance.Rda
output/SSP2-4.5/beta50/10000_abundance.Rda
output/SSP2-4.5/beta50/10000_N.Rda
output/SSP2-4.5/beta40/10000_mature_abundance.Rda
output/SSP2-4.5/beta40/10000_abundance.Rda
output/SSP2-4.5/beta40/10000_N.Rda
output/SSP2-4.5/beta30/10000_mature_abundance.Rda
output/SSP2-4.5/beta30/10000_abundance.Rda
output/SSP2-4.5/beta30/10000_N.Rda
output/SSP2-4.5/beta20/10000_mature_abundance.Rda
output/SSP2-4.5/beta20/10000_abundance.Rda
output/SSP2-4.5/beta20/10000_N.Rda
output/SSP2-4.5/beta4/10000_mature_abundance.Rda
output/SSP2-4.5/beta4/10000_abundance.Rda
output/SSP2-4.5/beta4/10000_N.Rda
output/SSP3-7.0/beta100/10000_mature_abundance.Rda
output/SSP3-7.0/beta100/10000_abundance.Rda
output/SSP3-7.0/beta100/10000_N.Rda
output/SSP3-7.0/beta60/10000_mature_abundance.Rda
output/SSP3-7.0/beta60/10000_abundance.Rda
output/SSP3-7.0/beta60/10000_N.Rda
output/SSP3-7.0/beta50/10000_mature_abundance.Rda
output/SSP3-7.0/beta50/10000_abundance.Rda
output/SSP3-7.0/beta50/10000_N.Rda
output/SSP3-7.0/beta40/10000_mature_abundance.Rda
output/SSP3-7.0/beta40/10000_abundance.Rda
output/SSP3-7.0/beta40/10000_N.Rda
output/SSP3-7.0/beta30/10000_mature_abundance.Rda
output/SSP3-7.0/beta30/10000_abundance.Rda
output/SSP3-7.0/beta30/10000_N.Rda
output/SSP3-7.0/beta20/10000_mature_abundance.Rda
output/SSP3-7.0/beta20/10000_abundance.Rda
output/SSP3-7.0/beta20/10000_N.Rda
output/SSP3-7.0/beta4/10000_mature_abundance.Rda
output/SSP3-7.0/beta4/10000_abundance.Rda
output/SSP3-7.0/beta4/10000_N.Rda
output/SSP5-8.5/beta100/10000_mature_abundance.Rda
output/SSP5-8.5/beta100/10000_abundance.Rda
output/SSP5-8.5/beta100/10000_N.Rda
output/SSP5-8.5/beta60/10000_mature_abundance.Rda
output/SSP5-8.5/beta60/10000_abundance.Rda
output/SSP5-8.5/beta60/10000_N.Rda
output/SSP5-8.5/beta50/10000_mature_abundance.Rda
output/SSP5-8.5/beta50/10000_abundance.Rda
output/SSP5-8.5/beta50/10000_N.Rda
output/SSP5-8.5/beta40/10000_mature_abundance.Rda
output/SSP5-8.5/beta40/10000_abundance.Rda
output/SSP5-8.5/beta40/10000_N.Rda
output/SSP5-8.5/beta30/10000_mature_abundance.Rda
output/SSP5-8.5/beta30/10000_abundance.Rda
output/SSP5-8.5/beta30/10000_N.Rda
output/SSP5-8.5/beta20/10000_mature_abundance.Rda
output/SSP5-8.5/beta20/10000_abundance.Rda
output/SSP5-8.5/beta20/10000_N.Rda
output/SSP5-8.5/beta4/10000_mature_abundance.Rda
output/SSP5-8.5/beta4/10000_abundance.Rda
output/SSP5-8.5/beta4/10000_N.Rda

output/SSP2-4.5/beta25/1000_mature_abundance.Rda
output/SSP2-4.5/beta25/1000_abundance.Rda
output/SSP2-4.5/beta25/1000_N.Rda
output/SSP2-4.5/beta50/1000_mature_abundance.Rda
output/SSP2-4.5/beta50/1000_abundance.Rda
output/SSP2-4.5/beta50/1000_N.Rda
